.button02 {
  text-transform: uppercase;
  background: #fdf5db;
  border-radius: 24px;
  font-weight: 700;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  padding: 22px 80px;
}

.button02:hover {
  background: #fdb1d8;
  border-color: #fdb1d8;
  color: #ffffff;
}
