.footerLeftSide {
  display: flex;
  flex-direction: row;
}

.footerRightSide {
  display: flex;
  flex-direction: row;
}

.footerArea {
  display: flex;
  flex-direction: column;
}

.footerCopyright {
  margin-left: 550px;
  margin-right: 550px;
}

.moreDrinksArea {
  display: flex;
  flex-direction: column;
}

.moreDrinksgroup {
  display: flex;
  flex-direction: row;
}
