.freshSelectionArea h2 {
  margin-bottom: 70px;
}

.freshSelectionArea {
  margin: 14px 35px 35px 35px;
}

@media (max-width: 900px) {
  .freshSelectionArea {
    margin: 29px 0px 35px 0px;
  }
}

.freshSelectionArea .selectionIMG {
  width: 404px;
  height: 404px;
  margin-bottom: 35px;
}

.freshSelectionArea p {
  margin-bottom: 35px;
}

.freshSelectionArea a {
  margin-left: 66px;
  margin-right: 66px;
}

@media (max-width: 900px) {
  .freshSelectionArea a {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 900px) {
  .freshSelectionArea img {
    margin-top: 35px;
  }
}
