.introIMG {
  max-width: 894;
}

.selectionIMG {
  max-width: 404;
}

.engagentIMG {
  max-width: 528;
}

.SHOPnowIMG {
  max-width: 489;
}

.recettesIMG {
  max-width: 798;
}

.recettes01IMG {
  max-width: 241;
}

.recettes02IMG {
  max-width: 248;
}

.recettes03IMG {
  max-width: 242;
}

.islandIMG {
  max-width: 363;
}

.shelfIMG {
  max-width: 363;
}
