.introIMG {
  max-width: 361px;
  max-height: 228px;
}

@media (min-width: 800px) {
  .introIMG {
    max-width: 894px;
    max-height: 565px;
  }
}

.selectionIMG {
  max-width: 328px;
  max-height: 437px;
}

@media (min-width: 800px) {
  .selectionIMG {
    max-width: 404px;
    max-height: 404px;
  }
}

.engagementIMG {
  max-width: 332px;
  max-height: 338px;
}

@media (min-width: 800px) {
  .engagentIMG {
    max-width: 528px;
    max-height: 537px;
  }
}

.SHOPnowIMG {
  max-width: 290px;
  max-height: 409px;
}

@media (min-width: 800px) {
  .SHOPnowIMG {
    max-width: 489px;
    max-height: 689px;
  }
}

.recettesIMG {
  max-width: 362px;
  max-height: 404px;
}

@media (min-width: 800px) {
  .recettesIMG {
    max-width: 798px;
    max-height: 1022px;
  }
}

.recettes01IMG {
  max-width: 241px;
  max-height: 241px;
}

.recettes02IMG {
  max-width: 248px;
  max-height: 248px;
}

.recettes03IMG {
  max-width: 260px;
  max-height: 242px;
}

.islandIMG,
.shelfdIMG {
  max-width: 205px;
  max-height: 205px;
}

@media (min-width: 800px) {
  .islandIMG,
  .shelfdIMG {
    max-width: 363px;
    max-height: 363px;
  }
}
