.letsStartLeftSide {
  display: flex;
  flex-direction: column;
  padding-top: 193px;
  padding-right: 100px;
}

.letsStartGroup {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  margin-right: 0;
}
