.recettesArea h2 {
  margin-top: 21px;
  margin-bottom: 40px;
}
.recettesArea {
  padding-right: 19px;
}

.recette01 {
  width: 241px;
}

.recette02 {
  width: 248px;
}

.recette03 {
  width: 260px;
}
