nav {
  background-color: #fef7ec;
}

.notreEngagementBG {
  background-color: #f39ed2;
}

.SHOPnowBG {
  background-color: #9ef3ce;
}

.recettesBG {
  background-color: #f3df9e;
}

footer {
  background-color: #fef7ec;
}
