nav {
  background-color: #fef7ec;
}

.notreEngagementBG {
  background-color: #f39ed2;
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 23px;
  padding-left: 24px;
}

.SHOPnowBG {
  background-color: #9ef3ce;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 26px;
}

.recettesBG {
  background-color: #f3df9e;
}

footer {
  background-color: #fef7ec;
}
